h3 {
  text-align: center;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
form {
    border: 3px solid #f1f1f1;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */
  button {
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  .newact {
    background-color: gray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .box {
    width: 400px;
    height: auto;  
    margin: auto;
    padding: 10px;
  }
  
  /* Avatar image */
  .avatar {
    margin:auto;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: left;
    padding-top: 16px;
  }

  span.fpsw {
    float: right;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }